 repo/
.DS_Store
 prepared
 prepped
 .DIND
 releases/*
 build-config.sh helpers/build-config.sh
 source/Electrum-GRS*
 source/Electrum-grs*
 source/electrum-grs-setup.exe
 ltc_scrypt*
 helpers/release-packages
 helpers/*.dylib
 helpers/*.so
 helpers/*.pyd
 helpers/.??*
 helpers/requirements.txt
 helpers/linux_installer.sh
 1.1.tar.gz*
 darkcoin_hash*
 groestlcoin*
 SocksiPy*
 helpers/.??*
 helpers/repo
 helpers/electrum-grs-release
 src/Electrum-GRS-*.dmg 
 src/Electrum-grs-*.dmg 
 Makefile
 helpers/debian_installer.sh
 helpers/trezorctl.py
 cython-hidapi
 python-trezor
 helpers/coinhash
 helpers/build_release.complete
